body {
  margin: 0;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #1d3c4e;
  color: white;
}

img {
  width: 68px;
  height: 74px;
  margin: 3% 3% 3% 2%;
}

.menu {
  width: 42px;
  height: 52px;
  margin: 45% 3% 0% 7%;
}

h1 {
  margin: 12% 7% 0% -3%;
  font-size: 90%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #020127c2;
  min-width: 160px;
}

.dropdown-content a {
  color: white;
  font-size: 25px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(141, 163, 14);
}

.dropdown:hover .dropdown-content {
  display: block;
}
