body {
  margin: 0;
  width: 100%;
  text-align: center;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: #00134d;
}

.logo {
  width: 74px;
  height: 74px;
  margin: 1% -5% 1% 16%;
}

.menu {
  width: 42px;
  height: 52px;
  margin: 39% 5% 2% 21%;
}

.app-title {
  margin: 9% 3% 0% 0%;
  font-size: 100%;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #020127c2;
  min-width: 160px;
}

.dropdown-content a {
  color: white;
  font-size: 25px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(141, 163, 14);
}

.dropdown:hover .dropdown-content {
  display: block;
}
