body {
  margin: 0;
  width:100%;
}
.navbar {
  display: flex;
  flex-direction: row;
  background-color: #1d3c4e;
}

.logo{
  width: 68px;
  height: 74px;
  margin: 1% 0% 0% 15%;
}

.menu {
  width: 42px;
  height: 52px;
  margin: 39% 5% 2% 21%;
}

.appTitle {
  margin: 9% 3% 0% 0%;
  font-size: 90%;
  color: white;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #020127c2;
  min-width: 160px;
}

.dropdown-content a {
  color: white;
  font-size: 25px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(141, 163, 14);
}

.dropdown:hover .dropdown-content {
  display: block;
}
