.listCards {
  margin: 5px;
  border-radius: 15px;
  background-color: lightgray;
  box-shadow: 0 2px 6px hsla(220, 10%, 30%, 0.2), 0 8px 16px hsla(220, 10%, 30%, 0.2);
  padding: 1rem;
  text-align: center;
}

.ItemsContainer {
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  align-content: center;
}

.placeImage1 {
  width: 150px;
  height: 100px;
}

h3 {
  height: 45px;
}

ul {
  list-style-type: none;
}
.guideName {
  text-align: center;
  height: 10px;
}

.guideImage {
  text-align: center;
  width: 120px;
  height: 100px;
  border-radius: 15px;
}
