.arabic-list-title {
  font-size: large;
}

.english-word {
  background: #660000;
  border-radius: 6%;
  height: 66px;
  text-align: left;
  padding-top: 4%;
  padding-left: 5%;
  color: white;
  margin: 3%;
}

.arabic-word {
  border-radius: 6%;
  border: 1px solid #990000;
  position: relative;
  width: 44%;
  height: 33%;
  background: white;
  text-align: right;
  bottom: 122%;
  left: 48%;
  padding-top: 2%;
  padding-right: 3%;
}

.pronunciation {
  bottom: 142%;
  left: 23%;
  position: relative;
  margin-left: 9%;
  color: white;
}

.get-pronunciation {
  width: 10%;
  height: 22px;
  position: relative;
  left: 2%;
  bottom: 14px;
  background-color: white;
  border-radius: 15%;
}

.audio-bar {
  width: 56%;
  height: 22px;
  position: relative;
  right: 54%;
  top: 25px;
}

.list {
  padding: 0;
  height: 70px;
  margin-top: 5%;
}
