.arabic-list-title {
  font-size: large;
}

.english-word {
  background: #660000;
  border-radius: 5px;
  height: 54px;
  text-align: left;
  padding-top: 15px;
  padding-left: 16px;
  color: white;
  margin: 10px;
}

.arabic-word {
  border-radius: 7px;
  border: 1px solid #990000;
  position: relative;
  width: 165px;
  height: 27px;
  background: white;
  text-align: right;
  bottom: 86px;
  left: 182px;
  padding-top: 7px;
  padding-right: 10px;
}

.pronunciation {
  bottom: 99px;
  left: 84px;
  position: relative;
  margin-left: 34px;
  color: white;
}

.get-pronunciation {
  width: 20px;
  height: 20px;
  position: relative;
  left: 9px;
  bottom: 15px;
  background-color: white;
  border-radius: 8px;
}

.audio-bar {
  width: 180px;
  height: 20px;
  position: relative;
  right: 186px;
  top: 23px;
}

.list {
  padding: 0;
  height: 70px;
  margin-top: 5%;
}
