.word1 {
  width: 341px;
  height: 85px;
  right: 35%;
  top: 185px;
}

.word2 {
  width: 341px;
  height: 85px;
  right: 25%;
  top: 295px;
}

.word3 {
  width: 341px;
  height: 85px;
  right: 26%;
  top: 417px;
}

.word4 {
  width: 341px;
  height: 85px;
  right: 30%;
  top: 535px;
}

.text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #000000;
}
.list {
  border: 1px solid red;
}
