.guide-container {
  margin: 20px 20px 20px 20px;
  border: 2px solid darkblue;
  border-radius: 15px;
  text-align: center;
}

.guide-img {
  margin-top: 20px;
  width: 100px;
  height: 130px;
}

.description-image {
  width: 150px;
  height: 200px;
  margin-left: 13px;
}

.add-review-guide {
  background-color: rgb(20, 59, 80);
  color: white;
  font-size: 18px;
  padding: 10px 30px;
}

.write-review-guide {
  border-radius: 5px;
  height: 30px;
  padding: 2%;
  font-size: 153%;
  position: relative;
  top: 6px;
  margin-bottom: 4%;
  margin-left: 15px;
  padding-left: 20px;
}
