.city-name {
  text-align: center;
  padding: 30px 30px 10px 30px;
  font-size: 50;
}
.city-description {
  text-align: justify;
  margin-bottom: 30px;
  padding: 5px 10px;
}

.discover {
  background-color: rgb(20, 59, 80);
  margin-top: 2.5em;
  color: white;
  font-size: 18px;
  padding: 10px 30px;
}
