.city-name {
  text-align: center;
  padding: 4% 4% 4% 4%;
}

.city-description {
  text-align: justify;
  margin-bottom: 10%;
  padding: 0% 4%;
}

.discover {
  background-color: rgb(20, 59, 80);
  margin-top: 2.5em;
  color: white;
  font-size: 18px;
  padding: 2% 4%;
}
