.login-form {
  margin-top: 15%;
  padding: 5px;
}

.login-button {
  border-radius: 5px;
  padding: 2%;
  margin-top: 3%;
  width: 25%;
  font-size: 120%;
  margin-left: -12%;
}

.login-form input {
  display: block;
  border-radius: 5px;
  width: 95%;
  height: 30px;
  padding: 2%;
  font-size: 153%;
  margin-bottom: 4%;
}

.container {
  display: inline-block;
}

.form-style {
  padding-top: 50px;
}
