* {
  margin: 0;
  padding: 0;
}
img {
  width: 400px;
  height: 300px;
}

.placeInformation {
  background-color: #ffffff;
  width: 400px;
  position: absolute;
  top: 354px;
  border-radius: 30px;
  text-align: left;
}

.placeName {
  padding-top: 20px;
}
h2,
h3,
p {
  padding-left: 18px;
  padding-top: 5px;
  padding-bottom: 0px;
}

h3 {
  font-size: 10px;
}

.placeDescription {
  padding-top: 20px;
  font-size: 18px;
  padding-bottom: 20px;
}

.placeAvailibility,
.placePrice {
  font-size: 18px;
  padding-bottom: 2px;
}

.descriptionImage {
  width: 165px;
  height: 200px;
  margin: 17px;
}
