.place-image {
  width: 400px;
  height: 300px;
}

.place-information {
  background-color: #ffffff;
  position: absolute;
  top: 354px;
  border-radius: 30px;
  text-align: left;
}

.place-name-description {
  padding: 20px 0px 5px 18px;
}

.place-description {
  padding: 20px 0px 0px 18px;
  font-size: 18px;
  margin: 0 0 40px 0;
}

.place-availibility,
.place-price {
  margin: 0;
  font-size: 18px;
  padding: 0px 0px 0px 18px;
}

.description-images {
  margin: 20px;
}
.description-image {
  width: 150px;
  height: 200px;
  margin-left: 13px;
}
